<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left;">
<strong>Instructions:</strong>
<br>
<strong>
  1. This grid contains 8 different images with duplicates of each.<br>
 2. Find such pairs of duplicates with consecutive clicks.<br>
 3.Complete the task with minimum clicks.  
</strong>
</div>
<div style="text-align:center;max-height: 100px;">
  <strong><font size="10">{{msg}}</font></strong>
  <br>
  <div class="row"> 
  <div class="column">
    <img id="00" [src]="imgsrc[0][0]" (click)="getClick('0','0',1)">
    <img id="10" [src]="imgsrc[1][0]" (click)="getClick('1','0',8)">
    <img id="20" [src]="imgsrc[2][0]" (click)="getClick('2','0',4)">
    <img id="30" [src]="imgsrc[3][0]" (click)="getClick('3','0',3)">
  </div>
  <div class="column">
    <img id="01" [src]="imgsrc[0][1]" (click)="getClick('0','1',2)">
    <img id="11" [src]="imgsrc[1][1]" (click)="getClick('1','1',5)">
    <img id="21" [src]="imgsrc[2][1]" (click)="getClick('2','1',7)">
    <img id="31" [src]="imgsrc[3][1]" (click)="getClick('3','1',2)">
  </div> 
  <div class="column">
    <img id="02" [src]="imgsrc[0][2]" (click)="getClick('0','2',3)">
    <img id="12" [src]="imgsrc[1][2]" (click)="getClick('1','2',6)">
    <img id="22" [src]="imgsrc[2][2]" (click)="getClick('2','2',1)">
    <img id="32" [src]="imgsrc[3][2]" (click)="getClick('3','2',8)">
  </div>
  <div class="column">
    <img id="03" [src]="imgsrc[0][3]" (click)="getClick('0','3',4)">
    <img id="13" [src]="imgsrc[1][3]" (click)="getClick('1','3',7)">
    <img id="23" [src]="imgsrc[2][3]" (click)="getClick('2','3',5)">
    <img id="33" [src]="imgsrc[3][3]" (click)="getClick('3','3',6)">
  </div>
  </div>
</div>


